@import url('https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700');
@import url('http://fonts.cdnfonts.com/css/monument-extended');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand';
  -webkit-font-smoothing: antialiased;
}

img {
  pointer-events: none;
}

html,
body {
  background: #0f0f0f;
}

body {
  background: #0f0f0f;
  min-height: 100vh;
  width: 100%;
}